.easy-to-use {
    display: flex;
    justify-content: space-around;
    .section-border();

    @media @mobile {
        flex-direction: column;
    }

    .text {
        width: 47%;
        padding: 2%;
        line-height: 1.3;
        font-size: 1.4rem;

        p {
            font-size: 1em;
        }

        @media @mobile {
            width: 100%;
            text-align: center;
        }
    }

    img {
        object-fit: contain;
        display: block;
        max-width: 47%;

        @media @mobile {
            max-width: 100%;
        }
    }
}
