.examples {
    text-align: center;
    padding: 8px 0;
    .section-border();

    @media @mobile {
        padding-bottom: 15px;
    }

    .examples-container {
        .flex(space-evenly; stretch);
        margin: 30px 0;
    }

    .example {
        width: 30%;
        padding: 1.5%;
        border: 1px solid grey;

        @media @mobile {
            display: none;
        }

    }

    @media @mobile {
        .example.on-mobile {
            width: 85%;
            display: initial;
        }
    }
}
