
html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

.container {
    max-width: @content-max-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;

    @media @mobile {
        padding: 0;
    }
}

body {
    padding-bottom: 2vh;
    font-size: 1.6rem;
}
