header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 0;
    border: 1px solid grey;
    border-top: none;

    .call-to-action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 55%;
        padding: 3%;
    }

    p {
        font-size: 1.6rem;
    }
}
