header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 8px 0;
    padding-bottom: 20px;
    .section-border();
    border-top: none;

    background: @hl-section-bg;

    @media @mobile {
        flex-direction: column-reverse;
    }

    .call-to-action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 55%;
        padding: 3%;
        color: @hl-section-font-col;

        @media @mobile {
            width: 100%;
        }
    }

    p {
        font-size: 1.6rem;
    }

    img {
        border-radius: 15px;
        filter: drop-shadow(5px 7px 2px);
    }
}
