.knowledge {
    .section-border();
    padding: 0 10%;
    padding-bottom: 15px;
    font-size: 1.4rem;

    h2 {
        margin-bottom: 15px;
    }

    p {
        font-size: 1em;
    }

    img {
        padding: 5% 10% 0;
    }
}
