.knowledge {
    .section-border();
    padding: 0 10%;
    padding-bottom: 15px;
    font-size: 1.4rem;

    background: @hl-section-bg;

    @media @mobile {
        padding: 0;
    }

    h2 {
        margin-bottom: 15px;

        @media @mobile {
            padding: 0 4%;
        }
    }

    p {
        font-size: 1em;

        @media @mobile {
            padding: 0 4%;
        }
    }

    img {
        padding: 5% 10% 0;

        @media @mobile {
            padding: 0;
        }
    }
}
