
nav {
    background-color: rgb(33, 33, 33);
    color: white;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        white-space: nowrap;
        padding-right: 4%;

        .period {
            color: @header-accent;
        }

        .studio {
            color: @header-accent;
        }
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}
