nav {
    background-color: rgb(33, 33, 33);
    color: white;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media @mobile {
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.7rem;

            &.links {
                flex-direction: column-reverse;
                align-items: center;
            }
        }

    }

    .app-links {
        @media @mobile {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;

            * {
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }

    .marketing-site-links {
        @media @mobile {
            margin-bottom: 10px;
        }
    }

    .logo {
        white-space: nowrap;
        padding-right: 4%;

        .period {
            color: @header-accent;
        }

        .studio {
            color: @header-accent;
        }
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}
